interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://civic.neulion.com/cityoflangley/
  response:
    body: {string: "<!DOCTYPE html>\r\n<html>\r\n<head>\r\n\t<meta charset=\"utf-8\"\
        >\n\t<title>City of Langley</title>\n\n\t<link rel=\"stylesheet\" type=\"\
        text/css\" href=\"../../static/styles/light-theme/jquery-ui-1.10.3.custom.min.css\"\
        \ />\n\t<link rel=\"stylesheet\" type=\"text/css\" href=\"../../static/styles/light-theme/jquery-ui-overrides.pc.css\"\
        \ />\n\t<link rel=\"stylesheet\" type=\"text/css\" href=\"../../static/styles/tablesorter/theme.default.css\"\
        \ />\n\t<link rel=\"stylesheet\" type=\"text/css\" href=\"../../static/styles/flowplayer.css\"\
        \ />\n\t<link rel=\"stylesheet\" type=\"text/css\" href=\"../../static/styles/common.css\"\
        \ />\n\t<link rel=\"stylesheet\" type=\"text/css\" href=\"../../static/styles/main.pc.min.css\"\
        \ />\n\t<link rel=\"stylesheet\" type=\"text/css\" href=\"static/styles/branding.pc.css\"\
        \ />\n</head>\t\r\n<body onLoad=\"\">\r\n\t<div class=\"main wrapper\">\r\n\
        \t\t<!-- *****************\r\n\t\t\t\t\tTitle/Menu bar\r\n\t\t*******************\
        \ -->\r\n\t\t<div id=\"header\" class=\"wrapper generic-unbordered-box\" >\t\
        \t\r\n\t\r\n\t\t\t<div id=\"searchBoxMainWrapper\" class=\"generic-unbordered-box\"\
        >\r\n\t\t\t\t<form id=\"searchForm_Main\">\r\n\t\t\t\t\t<!-- Project name\
        \ to search for -->\r\n\t\t\t\t\t<div id=\"projectsWrapper\" class=\"searchElementWrapper\"\
        >\r\n\t\t\t\t\t\t<label for=\"projectsSelector\">Meeting:</label>\r\n\t\t\t\
        \t\t\t<select id=\"projectsSelector\" class=\"searchElement searchInput\"\
        \ name=\"projectsSelector\">\r\n\t\t\t\t\t\t\t<option value=\"2349\">All Meetings</option>\n\
        \t\t\t\t\t\t<option value=\"2349\">council</option>\n\t\t\t\t\t\t</select>\r\
        \n\t\t\t\t\t</div>\r\n\t\t\t\t\t\r\n\t\t\t\t\t<!-- Keyword to search for -->\r\
        \n\t\t\t\t\t<div id=\"keywordWrapper\" class=\"searchElementWrapper\">\r\n\
        \t\t\t\t\t\t<label for=\"keywordInput\">Keyword Search <span class=\"label-optional\"\
        >(Optional)</span>:</label>\r\n\t\t\t\t\t\t<input id=\"keywordInput\" class=\"\
        searchElement searchInput\" type=\"text\" name=\"keyword\" placeholder=\"\"\
        >\t\t\t\t\t\t\r\n\t\t\t\t\t</div>\r\n\t\t\t\t\t\r\n\t\t\t\t\t<!-- Search button,\
        \ but only for the keyword -->\r\n\t\t\t\t\t<div class=\"searchElementWrapper\"\
        >\r\n\t\t\t\t\t\t<button id=\"button_keySearch\" class=\"search-button ui-state-default\"\
        \ type=\"submit\">Search</button>\t\t\t\t\t\r\n\t\t\t\t\t</div>\r\n\t\t\t\t\
        </form>\r\n\t\t\t</div>\r\n\t\t\t\r\n\t\t\t<!-- Any Live Events -->\r\n\t\t\
        \t<div id=\"liveMeetingsWrapper\" class=\"generic-unbordered-box\">\r\n\t\t\
        \t\t<!-- \r\n\t\t\t\t<label>Live Meetings:</label>\r\n\t\t\t\t<button class=\"\
        meeting-button ui-state-default\" title=\"Please refresh page to check for\
        \ live meetings\" disabled=\"disabled\">No Live Meetings</button>\r\n\t\t\t\
        \t -->\t\t\r\n\t\t\t</div>\r\n\t\t\t\r\n\t\t</div>\r\n\t\t\r\n\t\t<!-- ************************\r\
        \n\t\t\t\t\tMain Content Area\r\n\t\t***************************** -->\r\n\
        \t\t<div class=\"content wrapper generic-unbordered-box\">\r\n\t\t\r\n\t\t\
        \t<!-- Start Left Column -->\r\n\t\t\t<div id=\"leftColumnBox\" class=\"column-box\
        \ left-column generic-unbordered-box\">\r\n\t\t\t\r\n\t\t\t\t<img id=\"mainLogoImage\"\
        \ src=\"static/imgs/main-logo.png\"/>\r\n\t\t\t\t<div id=\"videoBox\">\t\t\
        \t\t  \r\n\t\t\t\t\t<div id=\"adaptivePlayer\">\r\n\t\t\t\t\t<img id=\"playerBackground\"\
        \ src=\"static/imgs/playerBackground.jpg\"/>  \r\n\t\t\t\t\t</div>\t\t\t\t\
        \t\r\n\t\t\t\t</div>\r\n\t\t\t\t\r\n\t\t\t\t<!-- The \"details\" box of the\
        \ video that's playing -->\r\n\t\t\t\t<div id=\"clipDetails\" class=\"bordered-box\"\
        >\r\n\t\t\t\t\t<div>\r\n\t\t\t\t\t\t<div class=\"clipTitle\" >&nbsp;</div>\r\
        \n\t\t\t\t\t\t<p class=\"clipLength\">&nbsp;</p>\r\n\t\t\t\t\t</div>\r\n\t\
        \t\t\t\t<p class=\"clipDescription\">&nbsp;</p>\r\n\t\t\t\t\t<div class=\"\
        clipCreationDate\">&nbsp;</div>\r\n\t\t\t\t\t\r\n\t\t\t\t<!--  \t\r\n\t\t\t\
        \t\t<div id=\"getEmbedUrl\"><button style=\"width:70px; font-size:12px; color:black;\
        \ align:left\" class=\"clipId\">Embed</button></div>\r\n\t\t\t\t\t<div id=\"\
        embedUrl\"></div>\r\n\t\t\t\t-->\r\n\t\t\t\t\r\n\t\t\t\t</div>\r\n\t\t\t</div>\r\
        \n\t\t\t<!-- End Left Column -->\r\n\t\t\t\r\n\t\t\t<!-- Start Right Column\
        \ -->\r\n\t\t\t<div id=\"rightColumnBox\" class=\"column-box right-column\
        \ generic-unbordered-box\">\r\n\t\t\t\t\t\t\t\t<span class=\"info-text\" style=\"\
        margin-bottom: 5px;\">Please note: To view archives before the 1st of September,\
        \ 2014, please <a href=\"http://cityoflangley.insinc.com/player_archive.php\"\
        \ target=\"_blank\">click here</a></span>\t\r\n\t\t\t\t\t\t\t\t<!-- JQueryUI\
        \ Calendar -->\r\n\t\t\t\t<div id=\"calendarBox\">\r\n\t\t\t\t\t<div id=\"\
        calendarDiv\"></div>\r\n\t\t\t\t</div>\r\n\t\t\t\t<!-- Clips table -->\r\n\
        \t\t\t\t<div id=\"clipsBox\" class=\"generic-unbordered-box hidden-table\"\
        >\r\n\t\t\t\t\t<div id=\"clipsTableContainer\">\r\n\t\t\t\t\t\t<table id=\"\
        clipsTable\" class=\"tablesorter\">\r\n\t\t\t\t\t\t<thead></thead>\r\n\t\t\
        \t\t\t\t<tbody>\r\n\t\t\t\t\t\t</tbody>\r\n\t\t\t\t\t\t</table>\r\n\t\t\t\t\
        \t</div>\r\n\t\t\t\t</div>\r\n\t\t\t\t<!-- Social widgets, if any -->\r\n\t\
        \t\t\t<div id=\"socialBox\" class=\"generic-unbordered-box\">\r\n\t\t\t\t\t\
        \t\t\t\t</div>\r\n\t\t\t\t\r\n\t\t\t\t\r\n\t\t\t</div><!-- End Right Column\
        \ -->\r\n\t\t\t\r\n\t\t</div><!-- Content Wrapper End -->\r\n\t</div>\n\t\
        <div id=\"footer\">\n\t\t<a href=\"http://www.neulion.com\" target=\"_blank\"\
        >\n\t[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://civic.neulion.com/api/clipmanager.php?prid=2349&f=getClips&device=desktop&proj_from=2016-07-25&tz=America%2FLos_Angeles
  response:
    body: {string: "\n\t\t<tr>\n\t\t\t<td>\n\t\t\t\t<a href=\"javascript:void(0);\"\
        \ onclick=\"CLIP_VIEWER.initClip('adaptive://nlds2.insinc.neulion.com:443/nlds/cacivic/cityoflangley/as/live/cityoflangley_hd_pc_20160726020000_031942.mp4',false,$(this).closest('table'),$(this).closest('td').parent()[0].sectionRowIndex);\"\
        >Entire Meeting</a>\n\t\t\t\t<input type=\"hidden\" name=\"clip_rank\" value=\"\
        0\">\n\t\t\t\t<input type=\"hidden\" name=\"clip_descr\" value=\"\">\n\t\t\
        \t\t<input type=\"hidden\"[...]
