interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://civic.neulion.com/cityofsurrey/
  response:
    body: {string: "<!DOCTYPE html>\n<html>\n<head>\n\t<meta charset=\"utf-8\">\n\t\
        <title>City Of Surrey</title>\n\n\t<link rel=\"stylesheet\" type=\"text/css\"\
        \ href=\"../../static/styles/light-theme/jquery-ui-1.10.3.custom.min.css\"\
        \ />\n\t<link rel=\"stylesheet\" type=\"text/css\" href=\"../../static/styles/light-theme/jquery-ui-overrides.pc.css\"\
        \ />\n\t<link rel=\"stylesheet\" type=\"text/css\" href=\"../../static/styles/tablesorter/theme.default.css\"\
        \ />\n\t<link rel=\"stylesheet\" type=\"text/css\" href=\"../../static/styles/flowplayer.css\"\
        \ />\n\t<link rel=\"stylesheet\" type=\"text/css\" href=\"../../static/styles/common.css\"\
        \ />\n\t<link rel=\"stylesheet\" type=\"text/css\" href=\"../../static/styles/main.pc.min.css\"\
        \ />\n\t<link rel=\"stylesheet\" type=\"text/css\" href=\"static/styles/branding.pc.css\"\
        \ />\n</head>\t\n<body onLoad=\"\">\n\t<div class=\"main wrapper\">\n\t\t\
        <!-- *****************\n\t\t\t\t\tTitle/Menu bar\n\t\t*******************\
        \ -->\n\t\t<div id=\"header\" class=\"wrapper generic-unbordered-box\" >\t\
        \t\n\t\n\t\t\t<div id=\"searchBoxMainWrapper\" class=\"generic-unbordered-box\"\
        >\n\t\t\t\t<form id=\"searchForm_Main\">\n\t\t\t\t\t<!-- Project name to search\
        \ for -->\n\t\t\t\t\t<div id=\"projectsWrapper\" class=\"searchElementWrapper\"\
        >\n\t\t\t\t\t\t<label for=\"projectsSelector\">Meeting:</label>\n\t\t\t\t\t\
        \t<select id=\"projectsSelector\" class=\"searchElement searchInput\" name=\"\
        projectsSelector\">\n\t\t\t\t\t\t\t<option value=\"2197\">All Meetings</option>\n\
        \t\t\t\t\t\t<option value=\"2197\">Regular Council Meeting</option>\n\t\t\t\
        \t\t\t</select>\n\t\t\t\t\t</div>\n\t\t\t\t\t\n\t\t\t\t\t<!-- Keyword to search\
        \ for -->\n\t\t\t\t\t<div id=\"keywordWrapper\" class=\"searchElementWrapper\"\
        >\n\t\t\t\t\t\t<label for=\"keywordInput\">Keyword Search <span class=\"label-optional\"\
        >(Optional)</span>:</label>\n\t\t\t\t\t\t<input id=\"keywordInput\" class=\"\
        searchElement searchInput\" type=\"text\" name=\"keyword\" placeholder=\"\"\
        >\t\t\t\t\t\t\n\t\t\t\t\t</div>\n\t\t\t\t\t\n\t\t\t\t\t<!-- Search button,\
        \ but only for the keyword -->\n\t\t\t\t\t<div class=\"searchElementWrapper\"\
        >\n\t\t\t\t\t\t<button id=\"button_keySearch\" class=\"search-button ui-state-default\"\
        \ type=\"submit\">Search</button>\t\t\t\t\t\n\t\t\t\t\t</div>\n\t\t\t\t</form>\n\
        \t\t\t</div>\n\t\t\t\n\t\t\t<!-- Any Live Events -->\n\t\t\t<div id=\"liveMeetingsWrapper\"\
        \ class=\"generic-unbordered-box\">\n\t\t\t\t<!-- \n\t\t\t\t<label>Live Meetings:</label>\n\
        \t\t\t\t<button class=\"meeting-button ui-state-default\" title=\"Please refresh\
        \ page to check for live meetings\" disabled=\"disabled\">No Live Meetings</button>\n\
        \t\t\t\t -->\t\t\n\t\t\t</div>\n\t\t\t\n\t\t</div>\n\t\t\n\t\t<!-- ************************\n\
        \t\t\t\t\tMain Content Area\n\t\t***************************** -->\n\t\t<div\
        \ class=\"content wrapper generic-unbordered-box\">\n\t\t\n\t\t\t<!-- Start\
        \ Left Column -->\n\t\t\t<div id=\"leftColumnBox\" class=\"column-box left-column\
        \ generic-unbordered-box\">\n\t\t\t\n\t\t\t\t<img id=\"mainLogoImage\" src=\"\
        static/imgs/main-logo.png\"/>\n\t\t\t\t<div id=\"videoBox\">\t\t\t\t  \n\t\
        \t\t\t\t<div id=\"adaptivePlayer\">\n\t\t\t\t\t<img id=\"playerBackground\"\
        \ src=\"static/imgs/playerBackground.jpg\" style=\"width:100%;height:100%;\"\
        />  \n\t\t\t\t\t</div>\t\t\t\t\t\n\t\t\t\t</div>\n\t\t\t\t\n\t\t\t\t<!-- The\
        \ \"details\" box of the video that's playing -->\n\t\t\t\t<div id=\"clipDetails\"\
        \ class=\"bordered-box\">\n\t\[...]
