interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://nlds2.insinc.neulion.com/play?url=%2Fnlds%2Fcacivic%2Fcityofsurrey1%2Fas%2Flive%2Fcityofsurrey1_hd_pc
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\r\n<channel version=\"\
        3.5\" currentTime=\"1468296650000\" currentTimeDescription=\"2016-07-12 04:10:50\"\
        \ defaultStreamIndex=\"1\">\r\n    <streamDatas>\r\n        <streamData url=\"\
        /nlds/cacivic/cityofsurrey1/as/live/cityofsurrey1_hd_400\" blockDuration=\"\
        2000\" bitrate=\"409600\" liveStartupTime=\"1396309816000\" liveDVRDuration=\"\
        630720000000\" livePlayerDelay=\"25000\" liveBlockDelay=\"16000\">\r\n   \
        \         <video width=\"400\" height=\"224\" fps=\"29.969999\" ccChannels=\"\
        CC1,CC2,CC3,CC4\" codec=\"avc1\" />\r\n            <audio channelCount=\"\
        2\" samplesRate=\"44100\" sampleBitSize=\"16\" bitrate=\"65536\" codec=\"\
        mp4a\" />\r\n            <httpservers>\r\n                <httpserver name=\"\
        nlds2.cdnak.insinc.neulion.com\" port=\"80\" />\r\n            </httpservers>\r\
        \n            <ranges>\r\n                <range begin=\"2014-03-31 23:50:16\"\
        \ end=\"2014-04-01 02:45:12\" />\r\n                <range begin=\"2014-04-14\
        \ 23:36:32\" end=\"2014-04-15 04:29:20\" />\r\n                <range begin=\"\
        2014-04-28 21:02:40\" end=\"2014-04-28 21:10:08\" />\r\n                <range\
        \ begin=\"2014-04-28 22:37:52\" end=\"2014-04-29 05:18:28\" />\r\n       \
        \         <range begin=\"2014-05-12 21:21:42\" end=\"2014-05-13 03:11:34\"\
        \ />\r\n                <range [...]
